# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/jetstream-controller.docker
/jetstream-controller
/nats-server-config-reloader
/nats-server-config-reloader.docker
/nats-boot-config
/nats-boot-config.docker
/tools/
