---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: accounts.jetstream.nats.io
spec:
  group: jetstream.nats.io
  names:
    kind: Account
    listKind: AccountList
    plural: accounts
    singular: account
  scope: Namespaced
  versions:
  - name: v1beta2
    schema:
      openAPIV3Schema:
        description: Account is a specification for a Account resource.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AccountSpec is the spec for a Account resource
            properties:
              creds:
                properties:
                  file:
                    type: string
                  secret:
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                required:
                - file
                - secret
                type: object
              servers:
                items:
                  type: string
                type: array
              tls:
                properties:
                  ca:
                    type: string
                  cert:
                    type: string
                  key:
                    type: string
                  secret:
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                required:
                - ca
                - cert
                - key
                - secret
                type: object
              token:
                properties:
                  secret:
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                  token:
                    type: string
                required:
                - secret
                - token
                type: object
              user:
                properties:
                  password:
                    type: string
                  secret:
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                  user:
                    type: string
                required:
                - password
                - secret
                - user
                type: object
            required:
            - creds
            - servers
            - tls
            - token
            - user
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                format: int64
                type: integer
            required:
            - conditions
            - observedGeneration
            type: object
        required:
        - spec
        - status
        type: object
    served: true
    storage: true
