name: e2e

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  e2e:
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install kuttl
        run: |
          curl -L https://github.com/kudobuilder/kuttl/releases/download/v0.15.0/kubectl-kuttl_0.15.0_linux_x86_64 -o /usr/local/bin/kubectl-kuttl
          chmod +x /usr/local/bin/kubectl-kuttl

      - name: create kind cluster
        uses: helm/kind-action@v1.8.0

      - name: set up helm
        uses: azure/setup-helm@v3

      - name: run e2e test
        run: kubectl kuttl test
