name: Release
on:
  workflow_dispatch:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout Source
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
        cache: false

    - name: Setup QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Setup Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Setup Docker Hub
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_CLI_TOKEN }}

    - name: Get Image Tags
      id: tags
      run: |
        version=$(sed 's/^v//' <<< ${GITHUB_REF_NAME})
        echo tags="latest,${version}" >> $GITHUB_OUTPUT

    - name: Build and Push
      uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
      with:
        source: .
        files: docker-bake.hcl
        push: true
        set: goreleaser.args.GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
      env:
        TAGS: "${{ steps.tags.outputs.tags }}"
        REGISTRY: "natsio"

    - name: Attach Release Files
      run: gh release upload ${GITHUB_REF_NAME} deploy/crds.yml deploy/rbac.yml
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
